<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269996969919-aadvoh9111hs4sruafqd761aaudnhntf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269996969919-aadvoh9111hs4sruafqd761aaudnhntf</string>
	<key>API_KEY</key>
	<string>AIzaSyB8FwQzet8iOM3giH6h4hmAxsDilO4HXEc</string>
	<key>GCM_SENDER_ID</key>
	<string>269996969919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imateam.us</string>
	<key>PROJECT_ID</key>
	<string>ima-team</string>
	<key>STORAGE_BUCKET</key>
	<string>ima-team.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269996969919:ios:f44f47db87b80c70c8db0a</string>
</dict>
</plist>